# Dependencies
/node_modules

# Cypress
/cypress/downloads
/cypress/reports
/cypress/screenshots
/cypress/videos

# Logs
npm-debug.log
*.log

# Operating System files
.DS_Store
Thumbs.db

# The package-lock.json file ensures that you have a consistent set of dependencies.
# It is recommended to commit this file to version control.
# If you want to ignore it, uncomment the following line:
# package-lock.json
