# Dependências
/node_modules

# Cypress
/cypress/downloads
/cypress/reports
/cypress/screenshots
/cypress/videos

# Logs
npm-debug.log
*.log

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db

Automation_tests.code-workspace 
mobile/app/ApiDemos-debug.apk 

# Relatórios k6
k6/summary.html
k6/summary.json
